<h1>Welcome to Sim.P! </h1>
<p><a href='/auth/signup' class="waves-effect waves-light btn-large">GET STARTED SIMP</a></p>
<br>
<h1>Already have a Sim.P account?</h1>
<p><a href='/auth/login' class="waves-effect waves-light btn-large">LOGIN HERE SIMP</a></p>
