html,
body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.wallpaperhi.com/1024x768/20120605/death%20note%20l%20white%20background%201024x768%20wallpaper_www.wallpaperhi.com_11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    max-width: 100%;
    text-align: left;
    color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  /* #profilepic {
    height: 250px;
    width: 250px;
  } */

  #feedpic {
    height: 250px;
    width: 250px;
  }

  
