html,
body {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/149320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    max-width: 100%;
    text-align: left;
    color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  #profilepic {
    height: 250px;
    width: 250px;
  }